* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: white;
}

a {
  color: #333;
  text-decoration: none;
}

.box1 {
  width: 90%;
  margin: auto;
  max-width: 1400px;
}

.hed_1 {
  font-size: 14px;
  background: #f4f4f4;
  border-bottom: 1px solid #eee;
}

.hed_1 .box1 {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box2,
.box3,
.box4 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.box2 i {
  color: grey;
}

.box3 {
  color: grey;
}

.box4 a {
  color: grey;
}

.box5 {
  padding: 18px 0;
}

.box5 .box1 {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 240px;
  cursor: pointer;
}

.box5_btn {
  gap: 10px;
  border: none;
  display: flex;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  color: #6b2cff;
  padding: 12px 22px;
  border-radius: 10px;
  align-items: center;
  background: #f1ebff;
}

.box5_btn:hover {
  background: #e7dcff;
}

.box6 {
  gap: 30px;
  display: flex;
}

.box6 a {
  gap: 8px;
  display: flex;
  color: #333;
  font-size: 15px;
  align-items: center;
}

.box6 i {
  font-size: 20px;
  color: #6b2cff;
}

.tur {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.tur .box1 {
  gap: 28px;
  height: 54px;
  display: flex;
  overflow: auto;
  align-items: center;
}

.tur .box1::-webkit-scrollbar {
  display: none;
}

.tur a {
  color: grey;
  font-size: 15px;
  transition: 0.3s;
  white-space: nowrap;
}
.tur a:hover {
  color: #6b2cff;
}

/* Section */

.sec_tover {
  padding-top: 50px;
}
.sec_tover h2 {
  margin-left: 145px;
  padding-bottom: 50px;
}
.gajet h2 {
  margin-top: 91px;
  margin-left: 145px;
  padding-bottom: 50px;
}

.sec_div {
  gap: 20px;
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.card_box {
  border: 1px;
  width: 230px;
  overflow: hidden;
  transition: 0.1s;
  background: #fff;
  border-radius: 15px;

  transition: 0.1s ease;
}
.card_box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card_box:active {
  transform: scale(0.97);
}

.rasm {
  width: 100%;
  display: block;
}

.text_box {
  padding: 12px;
}

.text {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 2px;
}

.text1 {
  font-size: 12px;
  color: #8b8e99;
  margin-bottom: 4px;
}
.text2 {
  color: grey;
  display: block;
  font-weight: 400;
  font-size: 11.2px;
  margin-top: 20px;
  line-height: 11.44px;
}
.text3 {
  font-size: 14px;
  font-weight: 500;
  /* margin-bottom: 20px; */
  line-height: 16.8px;
}
.narx {
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #ffff00;
}

.rasm1 {
  height: 300px;
}

.btn_box {
  gap: 20px;
  display: flex;
  align-items: center;
}
.but {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #ddd;
  background-color: white;
}
.but:hover {
  color: white;
  background-color: grey;
}
.icon_yu {
  top: 12px;
  width: 36px;
  right: 12px;
  border: none;
  height: 36px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background-color: white;
}
/*  */
.sec_div2 {
  gap: 20px;
  width: 100%;
  display: flex;
  cursor: pointer;
  padding-top: 30px;
  justify-content: center;
}
.yana {
  width: 740px;
  height: 56px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 100px;
  border-radius: 8px;
  background-color: #f2f4f7;
}

.yana:hover {
  transform: translateY(-5px);
  background-color: grey;
}
.yana1:hover {
  transform: translateY(-5px);
  background-color: grey;
}

.yana1:active {
  transform: scale(0.97);
  background-color: #f2f4f7;
}
.yana:active {
  transform: scale(0.97);
  background-color: #f2f4f7;
}
.yana1 {
  width: 740px;
  height: 56px;
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 50px;
  border-radius: 8px;
  background-color: #f2f4f7;
}
.yana1 p {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 20px 20px;
}
.yana p {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 20px 20px;
}
.time_div {
  gap: 5px;
  display: flex;
  padding-bottom: 5px;
}
.time_div img {
  height: 12px;
  width: 10.5px;
}
.time_div p {
  font-size: 12px;
  font-weight: 400;
  color: #e8007c;
  line-height: 12px;
}
.sec_tover3 {
  margin-top: 100px;
}
.sec_tover2 {
  margin-top: 100px;
}
.gajet1 {
  padding-left: 140px;
}
.nasiya1 {
  display: flex;
  margin-top: 125px;
  justify-content: center;
}
/* footer */

.footer {
  width: 100%;
  margin-top: 50px;
  padding: 50px 80px 20px;
  background-color: #6b2cff;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.box h4 {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.box p {
  color: gray;
  cursor: pointer;
  margin-bottom: 15px;
}

.apps {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.social-title {
  margin-bottom: 15px;
}

.icons {
  gap: 15px;
  display: flex;
}

.icons a {
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

hr {
  margin: 30px 0;
  border: 1px solid #eee;
}

.last_div2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chap {
  gap: 20px;
  color: grey;
  display: flex;
}
.chap1 {
  color: grey;
}
.ong {
  color: gray;
  font-size: 14px;
}
.fa-square-instagram {
  color: #e8007c;
}
.fa-telegram {
  color: dodgerblue;
}
.fa-youtube {
  color: red;
}
.fa-square-facebook {
  color: blue;
}
.fa-brands {
  width: 20px;
  height: 20px;
}
